*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
}

:root {
    --Lime: hsl(61, 70%, 52%);
    --Red: hsl(4, 69%, 50%);
    --White: hsl(0, 0%, 100%);
    --Slate-100: hsl(202, 86%, 94%);
    --Slate-300: hsl(203, 41%, 72%);
    --Slate-500: hsl(200, 26%, 54%);
    --Slate-700: hsl(200, 24%, 40%);
    --Slate-900: hsl(202, 55%, 16%);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

html {
    line-height: 1.5;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: var(--Slate-100);
    color: var(--Slate-900);
}

button,
input {
    font: inherit;
}

input {
    max-width: 100%;
    display: block;
}

.container-card {
    max-width: 800px;
    margin: 30px auto;
    background-color: var(--White);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*  */
.left-card {
    padding: 30px;
    border-radius: 20px 0 0 20px;
}

.left-card input {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.left-card input:focus {
    outline: none;
}

.left-card .border:hover {
    border-color: var(--Slate-500);
}

.header {
    justify-content: space-between;
}

.header #clear-btn {
    background-color: transparent;
    text-decoration: underline;
    font-weight: 600;
    color: var(--Slate-700);
}

.header #clear-btn:hover {
    color: var(--Slate-900);
}

.input-one .border {
    flex-direction: row-reverse;
}

.input-two .fields:first-child {
    margin-right: 20px;
}

.border {
    border: 2px solid var(--Slate-300);
    border-radius: 5px;
    margin: 2px 0 10px;
    background-color: var(--White);
}

.notation {
    background-color: var(--Slate-100);
    color: var(--Slate-700);
    padding: 5px 10px;
    font-weight: 600;
}

input[type="radio"] {
    max-width: 17px;
    margin-right: 8px;
    cursor: pointer;
}

input[type='radio']:checked {
    accent-color: hsl(61, 70%, 35%);
}

.input-three .border:hover,
.input-three label {
    border-color: var(--Lime) !important;
    cursor: pointer;
}

.input-three .border {
    padding: 10px;
}

form #calculate {
    background-color: var(--Lime);
    border-radius: 30px;
    padding: 10px 20px;
    margin: 20px 0;
    font-weight: 600;
}

form #calculate:hover {
    opacity: 0.7;
}

form #calculate img {
    width: 20px;
    margin-right: 5px;
}

/*  */
.right-card {
    background-color: var(--Slate-900);
    color: var(--White);
    border-radius: 0 20px 20px 50px;
    padding: 30px;
}

.result img {
    max-width: 120px;
    margin: 20% auto 0;
}

.result p {
    font-size: 14px;
    color: var(--Slate-500);
}

.result.flex-box {
    flex-direction: column;
    text-align: center;
}

/*  */
.flex-box {
    display: flex;
    flex-direction: row;
}

button {
    cursor: pointer;
    border: none;
}

.error-msg {
    color: var(--Red);
    font-size: 14px;
    display: none;
}

label,
.input-three p {
    color: var(--Slate-700);
}

/* Js */
.result-card {
    background-color: hsl(202, 55%, 9%);
    text-align: left;
    padding: 20px;
    border-top: 3px solid var(--Lime);
    border-radius: 8px;
}

.result-card div:first-of-type {
    border-bottom: 1px solid var(--Slate-900);
    padding-bottom: 10px;
}

.result-card div:first-of-type p {
    color: var(--Lime);
    font-size: 30px;
    font-weight: 600;
}

.result-card div:last-of-type p {
    color: var(--White);
    font-weight: 600;
}

.result-card div {
    margin: 10px 0;
}

.result-card div span {
    color: var(--Slate-500);
}

@media (max-width:450px) {
    .header {
        flex-direction: column;
    }

    .header #clear-btn {
        text-align: left;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .container-card {
        display: block;
        border-radius: 0;
    }

    .right-card {
        border-radius: 0;
    }
}